main{
  width: 85%;
  margin-top: 80px;
  display: flex;
  column-gap: 14px;
}
@media(max-width:1130px){
  main{
    flex-direction: column-reverse;
    width: 64%;
    align-items: center;
  }
  .cart-item-container{
    padding-top: 10px;
  }
  .details{
    display: block !important;
  }
  .payment-summary-row:nth-child(2),
  .payment-summary-row:nth-child(3),
  .payment-summary-row:nth-child(4),
  .payment-summary-row:nth-child(5)
  {
    display: none;
  }
  .pay-section{
    padding-bottom: 150px;
    z-index: 2;
  }
  .payment-summary{
    position: fixed !important;
    background-color: rgb(243, 243, 243);
    min-width: 604px;
    max-width: 60.3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  

}
@media(max-width:710px){


  .cart-item-container{
    flex-direction: column;
    width: 395px;
  }
  .delivery-section{
    width: fit-content;
    margin-top: 10px !important;
  }
  .payment-summary{
    top: 60px;
    position: fixed !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    min-width: 385px;
    max-width: 398px;
  }
}
.indication-text{
  position: absolute;
  font-weight: bold;
  font-size: 22px;
  top: 90px;
}
/*As the .empty-cart element with position: absolute is hidden by the main content, we applied z-index: 1 to it so that it lays on top of main */
.empty-cart{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
  font-size: 28px;
  font-weight: bold;
  z-index: 1;
}
.view-products-button{
  background-color: rgb(255, 196, 0);
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.view-products-button:hover{
  background-color: rgb(255, 230, 0);
}
.view-products-button a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.items-list{
  position: relative;
  flex: 2;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
/*We applied z-index:2 to the container so that it lays on the top of
the .empty-cart-button element*/
.cart-item-container{
  position: relative;
  padding: 20px 20px;
  border: 1px solid rgb(207, 205, 205);
  background-color: white;
  z-index: 2;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
.delivery-date{
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(22, 143, 22);
  font-weight: bold;
  font-size: 20px;
}
.items-section{
  flex: 2;
  height: 95px;
  display: flex;
  margin-top: 50px;
}
.item-picture{
  flex-shrink: 0;
  width: 160px;
}
.item-picture img{
  width: 65%;
  max-height: 170px;
  object-fit: contain;
}

.item-info{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.item-info p:nth-child(1) , .delivery-section p:nth-child(1){
  font-weight: bold;
}
.price{
  color: brown;
  font-weight: bold;
}
.quantity-section{
  width: 225px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  white-space: nowrap;
}
.cart-item-quantity{
  font-weight: 400 !important;
}
.save, .update , .delete{
  text-decoration: none;
  color: rgba(36, 36, 211, 0.8);
  width: fit-content;
  cursor: pointer;
}
.delete{
  margin-left: 5px;
}
.updating-section{
  font-weight: 400;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.updating-section input{
  padding: 3px;
  width: 40px;
  font-weight: bold;
}
.save:hover,.update:hover , .delete:hover{
  color:rgb(212, 48, 48);
}

/*Delivery section*/

.delivery-section{
  flex: 0.8;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 50px;
  white-space: nowrap;
  padding: 5px;
  background-color: rgb(247, 244, 244);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.option1,
.option2,
.option3{
  display: flex;
  column-gap: 5px;
  font-size: 17px;
}
.option1 input,
.option2 input,
.option3 input{
  width: 18px;
}
label span{
  color: rgb(22, 143, 22);
  font-weight: 600;
}
.pay-section{
  flex: 1;
  min-width: 210px;
}
.payment-summary{
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  width: 94%;
  padding: 20px 20px;
  border: 1px solid rgb(207, 205, 205);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  white-space: nowrap;

}
.visible{
  display: flex !important;
}
.payment-summary-title{
  font-size: 18px;
  font-weight: bold;
}
.details{
  cursor: pointer;
  color: rgb(31, 31, 255);
  display: none;
  font-weight: 500;
}
.details:hover{
  text-decoration: underline;
}
.payment-summary-row{
  display: flex;
  justify-content: space-between;
}
.payment-summary div:nth-child(3){
  margin-bottom: 8px;
}
.underlined{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(198, 196, 196);
}

.payment-summary div:nth-child(6){
  color: brown;
  font-size: 18px;
  font-weight: bold;
}
.paypal-option{
  display: flex;
  column-gap: 8px;
  margin: 10px 0px ;
}
.on{
  display: block;
}
.off{
  display: none !important;
}

#paypal{
  transform: scale(1.6); /* Adjust the scale as needed */
  -webkit-transform: scale(1.6); /* For Safari */
}

.place-order-button{
  height: 38px;
  background-color: rgb(255, 210, 8);
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}
.place-order-button:hover{
  background-color: rgb(239, 198, 15);
}

.paypal-section{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  animation: easeShowing .4s;
}
@keyframes easeShowing{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

.paypal-section button{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  white-space: nowrap;
  padding: 5px 0px;
  cursor: pointer;
}
.paypal-section button img{
  height: 90%;
  width: fit-content;
}
.paypal-section button:nth-child(1){
  background-color: rgb(255, 196, 57);
  border: 0px;
  border-radius: 5px;
}
.bank-card-button{
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  border: 0px;
  border-radius: 5px;
}
.paypal-section button:nth-child(1):hover,
.bank-card-button:hover{
  opacity: 0.9;
}

.optimizer-info{
  height: 30px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.optimizer-info img{
  height: 64%;
  width: fit-content;
}

